<div class="asset">
    <a href=<%= asset.photo.url(:medium) %> 
        onmouseout="hideTooltip()" 
        onmouseover="showTooltip(event,'<%= asset.photo_file_name %>');return false">
       <%= image_tag asset.photo.url(:thumb), 
            :class => "shadow", :alt => asset.photo_file_name %>
    </a>
</div>